{% extends 'task_manager/base.html' %}
{% load bootstrap4 %}
{%  block content %}
<h1 class="my-4">Задачи</h1>
<a class="nav-link" href="{% url 'task_create' %}">Создать задачу</a>
    <div class="card mb-3">
    <div class="card-body bg-light">
    <form method="get" class="form-inline center">
        {% bootstrap_form filter.form %}
        {% bootstrap_button content='Показать' button_type="submit" %}
    </form>

  </div>

</div>
    <table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Имя</th>
      <th>Статус</th>
      <th>Автор</th>
      <th>Исполнитель</th>
      <th>Дата создания</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for t in tasks %}
      <tr>
        <td>{{ t.pk }}</td>
        <td>
          <a href="{% url 'task_detail' t.pk %}">{{ t.title }}</a>
        </td>
        <td>{{ t.status }}</td>
        <td>{{ t.author }}</td>
        <td>{{ t.executor }}</td>
        <td>{{ t.created }}</td>
        <td>
          <a href="{% url 'task_update' t.pk %}">Изменить</a>
          <br>
          <a href="{% url 'task_delete' t.pk %}">Удалить</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}