{% load i18n %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Менеджер задач Hexlet</title>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% bootstrap_messages %}
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="{% url 'home' %}">Менеджер задач</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
        {% for m in menu %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url m.url_name %}">{{ m.title }}<span class="sr-only">(current)</span></a>
          </li>
        {% endfor %}
        </ul>
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Вход</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'user_create' %}">Регистрация</a>
            </li>
            {% endif %}

        </ul>
      </div>
    </nav>
{% block content %}
{% endblock %}
</body>