{% extends 'base.html' %}
{% block content %}
<div class="container wrapper flex-grow-1">
     <h1 class="my-4">Статусы</h1>
<a class="nav-link" href="{% url 'status_create' %}">Создать статус</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Имя</th>
      <th>Дата создания</th>
      <th></th>
    </tr>
    {{ Status }}
  {% for s in status%}
    <tr>
      <th>{{ s.pk }}</th>
      <th>{{ s.name }}</th>
      <th>{{ s.created_at }}</th>
      <td>
          <a href="{% url 'status_udate' s.pk %}">Изменить</a>
          <br>
          <a href="{% url 'status_delete' s.pk %}">Удалить</a>
        </td>
    </tr>
  {% endfor %}
  </thead>
  <tbody>

  </tbody>
</table>

    </div>
{% endblock %}