{% extends 'base.html' %}
{% block content %}
<div class="container wrapper flex-grow-1">
    <h1 class="my-4">Пользователи</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Имя пользователя</th>
      <th>Полное имя</th>
      <th>Дата создания</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {%  for u in users %}
      <tr>
        <td>{{ u.id }}</td>
        <td>{{ u.username }}</td>
        <td>{{ u.first_name }} {{ u.last_name }}</td>
        <td>{{ u.date_joined }}</td>
        <td>
             {% if user.is_authenticated and user.pk == u.pk %}
          <a href="{% url 'user_update' u.id %}">Изменить</a>
          <br>
          <a href="{% url 'user_delete' u.id %}">Удалить</a>
            {% else %}
                 <td><br></td>
            {% endif %}
        </td>
      </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}